/api-grupoterra-fel-sv/target/
/api-grupoterra-svfel/target/

/api-grupoterra-fel/nbproject/private/
/api-grupoterra-fel/build/
/api-grupoterra-fel/dist/
/api-grupoterra-fel-test/nbproject/private/
/api-grupoterra-fel-test/build/
/api-grupoterra-fel-test/dist/